.comment-post-container {
  width: 35%;
  margin: 3%;
}

.form-row {
  padding-top: 3%;
  border-top: 1px #dcdde1 solid;
}

.initial-comment {
  padding-top: 3%;
  font-size: 105%;
  font-weight: 500;
  color: #242121;
}

.comment-row {
  padding-bottom: 1%;
  padding-top: 2%;
  border-bottom: 1px solid black;
}

@media all and (max-width: 1200px) {
  .comment-post-container {
    width: 45%;
  }
}

@media all and (max-width: 800px) {
  .comment-post-container {
    width: 75%;
  }
}

@media all and (max-width: 500px) {
  .comment-post-container {
    width: 98%;
  }
}
