.comment-post-container {
  width: 35%;
  margin: 3%;
}

.form-row {
  padding-top: 3%;
  border-top: 1px #dcdde1 solid;
}

.initial-comment {
  padding-top: 3%;
  font-size: 105%;
  font-weight: 500;
  color: #242121;
}

.article-title {
  color: #353b48;
}

.article-description {
  color: #192a56;
}

.article-description:hover {
  color: #192a56;
}

.comment-row {
  padding-bottom: 2%;
  padding-top: 2%;
  border-bottom: 1px solid black;
}

div.comments-display .comment-row:nth-child(even) {
  background-color: #dcdde1;
}

.comment-row p {
  padding-left: 5%;
}

.comment-username {
  font-weight: 600;
  font-size: 105%;
}

.comment-btns-div {
  display: flex;
  justify-content: flex-end;
}

.comment-btns-div button {
  font-size: 80%;
  margin: 1% 5%;
}

@media all and (max-width: 1200px) {
  .comment-post-container {
    width: 45%;
  }
}

@media all and (max-width: 800px) {
  .comment-post-container {
    width: 75%;
  }
}

@media all and (max-width: 500px) {
  .comment-post-container {
    width: 98%;
  }
}
