.roverSelectBox{
  height: 100%;
  display: grid;
  grid-template-columns: auto;
  border-radius: 3%;
}

.roverSelectBox img{
  display: block;
  margin: 0 auto;
  align-self: center;
  border-radius: 3%;
}

.roverSelectInfo{
  align-self: center;
  height: 100%;
  padding: 10px;
  background-color: #663926;
  color: whitesmoke;
  border-bottom-left-radius: 3%;
  border-bottom-right-radius: 3%;
}

.capital{
  text-transform: capitalize;
}

.roverModalButtons{
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.topBox{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.shareText{
  display: block;
  width: 80%;
  margin: 1em auto;
  border-radius: 5px;
}

.roverSelectData a{
  color: white;
}

@media (max-width: 1000px) {
  .roverSelectBox{
    width: 100%;
  }

  .roverSelectBox img{
    width: 96%;
    margin-right: 2%;
    height: auto;
  }

}
  
@media (max-width: 450px) {
  .roverSelectBox img{
    width: 96%;
    margin-right: 2%;
  }
}