.roverSelectBox{
  height: 90%;
  width: 600px;
  position: fixed;
  top: 10px;
  padding: 10px;
  border-radius: 5px;
  left: calc(50vw - 300px);
  z-index: 25;
  background-color: #666;
}

.roverSelectBox img{
  display: block;
  height: 50%;
  max-width: 580px;
  width: auto;
  margin: auto;
  border-radius: 1px;
}

.roverSelectInfo{
  height: 50%;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 35% 50% 15%;
  grid-row-gap: 0%;
}

.roverSelectInfoShared{
  height: 50%;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 35% 50% 15%;
  grid-row-gap: 0%;
}

.capital{
  text-transform: capitalize;
}

.topBox{
  width: 80%;
  height: 95%;
  margin: 2.5px auto;
  padding: 10px;
  background-color: whitesmoke;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: black;
  padding: 10px;
  border-radius: 5px;
  border: .5px darkred solid;
}

.shareText{
  display: block;
  height: 90%;
  width: 80%;
  margin: auto;
  border-radius: 5px;
}

.spaceTaker2000{
  height: 100%;
  width: 100%;
}

.topBox a{
  color: black;
  text-decoration: underline;
}

.topBox h5, .topBox a{
  font-size: 18px;
}

.roverSelectModalButtons{
  width: 80%;
  margin: auto;
  height: 90%
}

.roverSelectBtn{
  margin: auto;
  border: darkred 1px solid;
}

@media (max-width: 900px) {

  .roverSelectBox{
    width: 80%;
    left: 10%;
  }

  .topBox h5, .topBox a{
    font-size: 16px;
  }

  .topBox{
    display: grid;
    grid-template-columns: auto auto;
  }
}

@media (max-width: 600px) {
  .topBox, .roverSelectBtn, .shareText {
    width: 95%;
  }

  .topBox h5, .topBox a{
    font-size: 12px;
  }

  .roverSelectBox img {
    width: 250px;
    height: auto;
    max-height: 250px;
    overflow: hidden;
  }

  
}