.card {
  background-color: #f5f6fa;
  border-radius: 2%;
  box-shadow: 1px 1px 6px black;
}

.card:hover {
  box-shadow: 3px 3px 12px black;
}

.card-img-top {
  border-radius: 3% 3% 0 0;
}

.post-block {
  width: 100%;
  margin-bottom: 5%;
}

.info-row {
  padding-top: 3%;
  font-size: 85%;
}

.date-stamp {
  font-size: 75%;
}

.post-btn {
  width: fit-content;
  font-size: 90%;
  background-color: #dcdde1;
  border: 1px #f5f6fa solid;
  padding: 1% 2%;
  word-wrap: normal;
}

.post-btn:hover {
  background-color: #7f8fa6;
  cursor: pointer;
  text-decoration: none;
}

.initial-comment {
  padding: 2%;
  color: black;
}

.article-title,
.discussion-title {
  font-size: 110%;
  font-weight: 600;
}

.article-description {
  font-size: 95%;
}
