.machineImg{
  width: 300px;
  height: auto;
  border-radius: 5px;
}

.imgDesc{
  font-size: 14px;
  text-align: center;
}

.machinePicGrid{
  width: 100%;
  display: grid;
  grid-template-columns: 300px 300px 300px;
  justify-content: space-between;
  margin-bottom: .5em; 
}

.topSpace{
  margin-top: .2em;
}

.bottomImg{
  width: 100%;
  height: auto;
  border-radius: 5px;
}

@media (max-width: 1035px) {
  .machinePicGrid{
    grid-template-columns: 300px 300px;
    align-items: center;
  }

  .machinePicGrid div:nth-child(3){
    grid-column: 1 / span 2;
    margin: auto;
  }
}

@media (max-width: 715px){
  .machinePicGrid{
    width: 300px;
    grid-template-columns: 300px;
    margin: auto;
  }

  .machinePicGrid div:nth-child(3){
    grid-column: 1;
  }

  .machineImg{
    display: block;
    margin: auto;
  }
}