.cameraButtons{
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 250px;
  grid-gap: 5px;
  margin: 0 auto 1em auto;
}

.camBtn{
  margin-bottom: .25em;
  font-size: 14px;
  padding: 3px;
  width: 100%;
  border: 1px black solid;
  background-color: rgb(122, 41, 21);
  color: white;
}

.camTitle{
  text-align: center;
  padding: 0;
  margin: 0;
}

.camBtn:active{
  transform: scale(.95)
}

.camBtn:focus{
  outline: 0;
}

.activeCam{
  background-color: black;
}
