.picBody{
  width: 300px;
  margin: 0 auto 1em auto;
  padding: 2px 0;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgba(36, 0, 0, 0.938);
  /* background-color: rgb(182, 182, 182); */
  box-shadow: 0px 5px 5px black;
  transition: all, .25s;
}

.picBody:hover{
  box-shadow: none;
  background-color: black;
  transition: all, .25s;
}

.picBody h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

.picBody img{
  width: auto;
  max-width: 300px;
  height: auto;
  display: block;
  margin: auto;
}

.infoBox{
  padding: 10px;
  background-color: rgb(87, 0, 0);
  text-align: center;

}

.camFullName{
  text-align: center;
  font-style: italic;
}

.roverPicButtons{
  width: 100%;
  display: flex;
  justify-content: center;
}

.roverPicBtn{
  border: 1px black solid;
  outline: none;
}
