.picBody{
  width: 100%;
  margin: 0 auto 1em auto;
  color: white;
  background-color: black;
  box-shadow: 0px 5px 5px black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: all, .25s;
  border-radius: 5px;
  position: relative;
}

.picBody:hover{
  box-shadow: none;
  background-color: #333;
  /* background-color: #663926; */
  transition: all, .25s;
}

.picBody h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

.picBody img{
  width: auto;
  max-width: 300px;
  height: auto;
  margin: auto;
  display: block;
  border-radius: 5px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.infoBox{
  padding: 10px;
  margin: 0 auto;
  width: 100%;
  background-color: #663926;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.camFullName{
  text-align: center;
  font-style: italic;
}

.roverPicButtons{
  width: 100%;
  display: flex;
  justify-content: center;
}

.roverPicBtn{
  border: 1px black solid;
  outline: none;
  font-size: 14px;
  transition: all, .25s
}

.roverPicBtn:nth-child(1) {
  border-top-left-radius: 10%;
  border-bottom-left-radius: 10%;
  border-right: none;
}

.roverPicBtn:nth-child(3) {
  border-top-right-radius: 10%;
  border-bottom-right-radius: 10%;
  border-left: none;
}

.roverPicBtn:hover{
  background-color: black;
  color: white;
  transform: scale(1.1);
  transition: all, .25s
}

.centerBox{
  width: fit-content;
  margin: auto;
  margin-bottom: 1em;
}
