.container {
  width: 80%;
  margin: auto;
  display: grid;
  grid-template-columns: auto;
  align-items: center;
  justify-content: center;
}

.container img {
  display: block;
  margin-bottom: 0.5em;
}
