.sortbar {
  background-color: black;
  color: white;
  margin-bottom: 3.5%;
  text-decoration: none;
}

.sortbar a {
  color: white;
}

.sortbar a:hover {
  color: lavender;
}

.sort-btn {
  color: white;
}

.sort-btn:hover {
  color: lavender;
}

.sort-menu {
  font-size: 75%;
}

.drop-item {
  text-transform: uppercase;
}

@media all and (max-width: 800px) {
  .sortbar {
    margin-bottom: 2%;
  }
}

@media all and (max-width: 500px) {
  .sortbar {
    margin-bottom: 0;
  }

  .sort-menu {
    font-size: 70%;
  }
}
