.forum-container {
  max-width: 86%;
  margin: auto !important;
  background-color: #2f3640;
}

.info-column,
.posts-column {
  padding-top: 2%;
}

.info-column {
  background-color: #353b48;
  color: #f5f6fa;
}

.info-column .row {
  padding: 2%;
}

@media all and (max-width: 800px) {
  .forum-container {
    width: 92%;
  }
}

@media all and (max-width: 500px) {
  .forum-container {
    min-width: 100%;
    margin-top: 0;
  }

  .form-row {
    width: 100%;
    padding: 0;
  }
}
