.forum-container {
  min-width: 100%;
  margin: 0 auto;
  padding: 0;
  background-color: #2f3640;
}

.forum-row {
  width: 80%;
  margin: 0 auto;
}

.info-column {
  height: auto;
  padding-top: 5%;
  background-color: #2f3640;
  color: #dcdde1;
}

.posts-column {
  padding-top: 5%;
  background-color: #353b48;
  color: #353b48;
}

.info-box {
  width: 95%;
  margin: 0 auto;
  padding: 10% 2%;
  background-color: #353b48;
  border-radius: 5%;
  box-shadow: 1px 1px 6px black;
}

.info-box-header {
  font-weight: bold;
  text-align: center;
  margin-bottom: 4%;
}

.info-box-item {
  font-size: 90%;
}

@media all and (max-width: 1000px) {
  .forum-row {
    width: 90%;
  }
}

@media all and (max-width: 800px) {
  .forum-row {
    width: 100%;
  }
}

@media all and (max-width: 770px) {
  .info-column {
    padding: 0;
  }
  .info-box {
    padding: 0;
    margin: 0;
    width: 100%;
    border-radius: 0;
  }
}
