.highlighterHolder {
  width: 300px;
  margin: auto;
  overflow: hidden;
  border-radius: 5px;
  margin-bottom: 1em;
}

.highlighterBox {
  display: flex;
  position: relative;
  top: 0;
  left: 0;
}

.highlighterBox img {
  width: 300px;
  height: auto;
}

.highlightInfo{
  border: 1px darkred solid;
  border-top: none;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.highlightInfo p {
  font-size: 14px;
  padding: 5px;
  margin-bottom: .25em;
}

.moveButtons{
  width: fit-content;
  margin: .5em auto;
}

.moveBtn{
  background-color: darkred;
  color: white;
  border: 1px solid black;
  padding: 3px 18px;
}

.moveBtn:focus{
  outline: 0;
}

.moveBtn:hover{
  background-color: white;
  color: darkred;
}
