.bruceText{
  text-align: center;
  background-color: #000;
  color: white;
  position: relative;
  /* padding: 10px; */
  width: 100%;
  top: 75px;
  z-index: 5;
  letter-spacing: 2px;

}

.bruceText-fixed{
  text-align: center;
  background-color: #000;
  color: white;
  position: fixed;
  top: 0;
  width: 100%;
  letter-spacing: 2px;
  z-index: 5;
}

.bannerBar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
}

.banLink{
  color: white;
  padding: 10px;
  text-transform: uppercase;
}

.activeBanLink{
  background-color: rgb(107, 1, 1);
  font-weight: 700;
}

.banLink:hover{
  color: rgb(151, 0, 0);
  color: white;
}