.shareModal{
  z-index: 25;
  position: fixed;
  top: 15px;
  max-height: calc(100vh - 15px);
  color: black;
  width: 450px;
  left: calc(50% - 225px);
  padding: 10px 20px;
  background: whitesmoke;
}

.shareModal img{
  display: block;
  width: 300px;
  height: auto;
  margin: auto;
}

.shareModal h5 {
  margin-top: 15px;
  font-size: 22px;
}

.shareArticleText{
  display: block;
  width: 100%;
  margin-bottom: 10px;
}

.textRight{
  /* text-align: right; */
  font-size: 16px;
  text-indent: 10%;
  margin: 5px 0;
}

.shareModal label{
  text-align: center;
  width: 100%;
}

.articleModalButtons{
  width: 90%;
  margin: auto;
  display: flex;
}

.articleModalBtn{
  width: 50%;
  display: block;
  border: 1px black solid;
  background: white;
}

.articleModalBtn:nth-child(2){
  border-left: none;
}

.articleModalBtn:focus{
  outline: none;
}

.articleModalBtn:hover{
  background-color: black;
  color: white;
}

.articleModalBtn:active{
  transform: scale(1.05)
}

@media (max-width: 500px){
  .shareModal{
    width: 96%;
    left: 2%;
  }

  .shareModal img{
    width: 96%;
    max-width: 300px;
    height: auto;
    margin: auto;
  }
}