.toggleBar {
  width: 50%;
  padding: 0.5em 0 0 0;
  margin: auto;
  display: flex;
  background-color: white;
}

.toggle {
  width: 50%;
  text-align: center;
  padding: 10px 0;
  border: 1px black solid;
  cursor: pointer;
}

.backWhite {
  width: 100%;
  background: white;
}

.toggleActive {
  background-color: darkred;
  color: white;
  border: none;
  cursor: initial;
}

@media (max-width: 500px) {
  .toggle {
    font-size: 14px;
  }
}
