.fullArea{
  background-color: white;
  min-height: 100%;
  padding-bottom: 200px;
}

.outputArea{
  width: 90%;
  margin: auto;
  line-height: 1.5;
}

.outputArea p {
  text-indent: 30px;
  margin-bottom: .25em;
}

.pageTitle{
  text-shadow: 1px 1px red;
  margin-bottom: .25em;
}