.articleHolder {
  display: grid;
  grid-template-columns: 47% 47%;
  width: 96%;
  margin: 0 auto;
  grid-column-gap: 6%;
}

.toRoverBtn {
  background-color: white;
}

.toRoverBtn a {
  color: black;
  text-decoration: underline;
}

.toRoverBtn a:hover {
  color: #663926;
  text-decoration: none;
  font-weight: bold;
}

.centerBox h4 {
  text-align: center;
}

.articleTitle {
  margin-bottom: 2%;
}

.articleAuthor {
  font-size: 75%;
  padding: 1%;
}

.articleLink a {
  color: rgb(230, 230, 230);
}

.articleLink a:hover {
  color: rgb(175, 175, 175);
}

@media (max-width: 1000px) {
  .articleHolder {
    width: 90%;
    margin: auto;
    grid-template-columns: auto auto;
  }
}

@media (max-width: 720px) {
  .articleHolder {
    width: 420px;
    grid-template-columns: auto;
  }
}

@media (max-width: 450px) {
  .articleHolder {
    width: 95%;
  }
}
