nav{
  z-index: 4;
}

.formRover{
  position: fixed;
  top: 0px;
  left: 0px;
  padding: 0px 10px;
  padding-top: calc(25vh + 10px);
  width: 325px;
  overflow: hidden;
  height: 100%; 
  background-color: whitesmoke;
  z-index: 2;
  border-right: .5px red solid;
}

.roverSelectButtons{
  width: fit-content;
  margin: auto;
  border-radius: 5px;
  background-color:  #663926;
}

.roverBtn{
  border: 1px black solid;
  background-color: #663926;
  color: white;
  padding: 5px 10px;
  font-size: 14px;
  width: 90px;
}

.roverBtn:active{
  transform: scale(.95);
  border: none;
}

.roverBtn:focus{
  outline: 0;
}

.roverBtn:nth-child(1){
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-right: none;
}

.roverBtn:nth-child(3){
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-left: none;
}

.activeRover{
  background-color: black;
}

.solGroup{
  width: 150px;
  margin: auto;
  margin-top: 1em;
}

.solInput{
  width: 80px;
  margin-left: 5px;
  text-align: center;
}

.searchBtn{
  display: block;
  margin: auto;
  border: 1px black solid;
  border-radius: 3%;
  background-color: #663926;
  color: white;
  padding: 5px 10px;
}

@media (max-width: 1000px) {
  .formRover{
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    padding: 2px;
    padding-top: 25vh;
    align-items: center;
    justify-content: center;
    border-right: none;
    border-bottom: .5px black solid;
  }

  .formRoverScroll{
    width: 100%;
    height: auto;
    position: fixed;
    top: 50px;
    padding: 2px;
    align-items: center;
    justify-content: center;
    border-right: none;
    background-color: whitesmoke;
    border-bottom: .5px black solid;
  }

  .formRover form, .formRoverScroll form{
    display: grid;
    grid-template-columns: 1fr 1fr 2fr 1fr;
  }

  .formRover form div, .formRoverScroll form div{
    align-self: center;
    justify-self: center;
  }

  .solGroup{
    width: 100%;
    height: 100%;
    font-size: 16px;
    align-self: center;
    text-align: center;
    margin: auto;
    display: flex;
    flex-direction: column;
  }

  .searchBtn{
    display: block;
    font-size: 14px;
    padding: 2.5px;
    align-self: end;
    height: 100%;
    width: 100%;
    min-width: 50px;
  }

  .solInput{
    width: 90%;
    margin-left: 5%;
    text-align: center;
  }

  .roverSelectButtons{
    display: flex;
    flex-direction: column;
    font-size: 13px;
  }

  .roverSelectButtons{
    width: 100%;
    height: 100%;
    background-color: transparent;
  }

  .roverBtn{
    border: 1px black solid;
    padding: 5px 2.5px;
    font-size: 10px;
    width: 100%;
    height: 33.3%;
    min-width: 60px;
  }

  .roverBtn:nth-child(1){
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-right: 1px black solid;
    border-bottom: none;
  }
  
  .roverBtn:nth-child(3){
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-left: 1px black solid;
    border-top: none;
  }

  
}
