/* .roverPicGrid{
  display: grid;
  border-top: .5px red solid;
  grid-template-columns: 325px auto;
}

.roverPicHolder{
  padding-top: 140px;
  background-color: rgb(205, 228, 247);
}  */

.dataPage{
  min-height: 100vh;
  padding-bottom: 2000px;
}