.roverPicGrid{
  display: grid;
  border-top: .5px red solid;
  grid-template-columns: 325px auto;
  top: 0;
  padding-top: calc(25vh - 40px)
}

.roverPicHolder{
  display: grid;
  grid-template-columns: 300px 300px 300px;
  width: fit-content;
  margin: auto;
  grid-column-gap: 20px;
} 

.dataPage{
  min-height: 100vh;
  /* padding-bottom: 2000px; */
}

.backdrop{
  z-index: 21;
  background-color: #333;
  position: absolute;
  opacity: .9;
  top: 0;
  height: 100%;
  width: 100vw;
}

.picModal{
  max-height: 90vh;
  width: 50vw;
  position: absolute;
  top: 2.5vh;
  left: 25vw;
  background-color: whitesmoke;
  z-index: 25;
}

.picModal img{
  width: 400px;
  height: auto;
  display: block;
  margin: auto;
}