.roverPicGrid{
  display: grid;
  grid-template-columns: 325px auto;
  top: 0;
  padding-top: 2vh;
  /* background-color: #99857A; */
}

.roverPicHolder{
  display: grid;
  grid-template-columns: 300px 300px 300px;
  width: fit-content;
  margin: auto;
  grid-column-gap: 20px;
} 


.dataPage{
  height: 100%;
}

.backdrop{
  z-index: 21;
  background-color: #111;
  position: fixed;
  top: 0;
  opacity: .93;
  height: 100%;
  width: 100%;
}

.flipHolder{
  height: 100%;
  width: 100%;
}

.outputArea{
  position: relative;
}

.newPic{
  position: absolute;
  width: 400px;
  height: auto;
  left: calc(50% - 200px);
}

.blocker{
  position: absolute;
  height: 400px; 
  width: 400px;
  background-color: black;
  z-index: 5; 
}

.flipPicsPlace{
  position: relative;
  height: 400px; 
  width: 400px;
  left: calc(50% - 200px);
  z-index: 5;
  overflow: hidden;
  border-radius: 5px;
  border: 2px black solid;
}

.flipButtons{
  z-index: 30;
  width: fit-content;
  margin: 1em auto;
}

.flipBtn{
  background-color: red;
  border: 1px black solid;
}

.flipBtn:nth-child(1) {
  background-color: green;
}

.flipBtn:active{
  transform: scale(1.15);
}

.flipBtn:focus{
  outline: 0;
}

.base{
  position: absolute;
  height: 100px;
  width: 100px;
  border: 4px darkblue solid;
  border-radius: 50%;
  top: calc(50% - 50px);
  left: calc(50% - 50px)
}

.spinner{
  position: absolute;
  height: 100px;
  width: 100px;
  border-left: red 4px solid;  
  border-right: black 4px solid;
  border-top: black 4px solid;
  border-bottom: black 4px solid;
  border-radius: 50%;
  top: calc(50% - 50px);
  left: calc(50% - 50px);
  animation: spin;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes spin {
  0% {transform: rotateZ(0deg)}
  25% {transform: rotateZ(90deg)}  
  50% {transform: rotateZ(180deg)}  
  75% {transform: rotateZ(270deg)}
  100% {transform: rotateZ(360deg)}
}


@media (max-width:1290px) {
  .roverPicHolder{
    grid-template-columns: 300px 300px;
  }
}

@media (max-width:1000px) {
  .roverPicGrid {
    padding-top: 15vh;
    display: flex;
    flex-direction: column;
  }

  .roverPicHolder{
    padding-top: 1vh;
  }
}

@media (max-width:650px) {
  .roverPicHolder{
    grid-template-columns: 300px;
  }
}

@media (max-width: 450px) {
  .flipPicsPlace{
    width: 325px;
    height: 325px;
    left: calc(50% - 162.5px);
  }

  .newPic{
    width: 325px;
    height: auto;
    left: calc(50% - 162.5px);

  }

  .outputArea{
    width: 100%;
  }

  .blocker {
    width: 325px;
    height: 325px;
    left: calc(50% - 162.5px);

  }

  
}

