.heightUser {
  position: relative;
}

.popArea {
  display: none;
}

.loginArea {
  width: 325px;
  border: 1px darkred solid;
  background-color: #dcdde1;
  position: absolute;
  top: 40px;
  right: 0;
  display: none;
  color: black;
}

.loginFormGroup {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5em;
  width: 100%;
  font-size: 15px;
}

.form-padding {
  padding: 15px;
}

.formButtons {
  display: flex;
  width: 80%;
  margin: auto;
  justify-content: space-evenly;
  margin-top: 1em;
  font-size: 16px;
}

.slide-up {
  animation-name: slide-up;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  padding: 15px;
}

.slide-down {
  animation-name: slide-down;
  animation-duration: 300ms;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
  padding: 15px;
}

@keyframes slide-up {
  0% {
    height: 300px;
  }
  100% {
    height: 0px;
  }
}

@keyframes slide-down {
  0% {
    height: 0px;
  }
  100% {
    height: 300px;
  }
}
