.posts-container {
  width: 90%;
}

.posts-container a {
  color: #192a56;
}

@media all and (min-width: 800px) {
  .posts-container {
    width: 60%;
  }
}

@media all and (min-width: 1200px) {
  .posts-container {
    width: 65%;
  }
}

@media all and (min-width: 1440px) {
  .posts-container {
    width: 50%;
  }
}
